html
body
	width 100%
	height 100%
	padding 0
	margin 0

.sweeper
	width 100%
	padding 15px
	font-family font-standard
	text-align center
	&-title
		font-size 24px
		padding-bottom 5px
	&-window
		display inline-block
		background #bdbdbd
		padding 6px
		border-top 2px solid #fff
		border-left 2px solid #fff
		border-bottom 2px solid #7b7b7b
		border-right 2px solid #7b7b7b
	&-header
		position relative
		height 36px
		border-top 2px solid #7b7b7b
		border-left 2px solid #7b7b7b
		border-bottom 2px solid #fff
		border-right 2px solid #fff
		margin-bottom 6px
	&-face
		position absolute
		top 4px
		left 50%
		margin-left -12px
		width 24px
		height 24px
		border-top 2px solid #fff
		border-left 2px solid #fff
		border-bottom 2px solid #7b7b7b
		border-right 2px solid #7b7b7b
		box-shadow 1px 1px 0 0 #7b7b7b, -1px -1px 0 0 #7b7b7b
		&:before
			content ''
			display block
			position absolute
			top 2px
			left 2px
			sprite($face-default)
		&_bomb:before
			sprite($face-bomb)
		&_wow:before
			sprite($face-wow)
		&_win:before
			sprite($face-win)
		&_active
			border-top 2px solid #7b7b7b
			border-left 2px solid #7b7b7b
			border-bottom none
			border-right none
			&:before
				top 3px
				left 3px
		
	&-field
		display block
		border-collapse separate
		margin 0
		border-top 2px solid #7b7b7b
		border-left 2px solid #7b7b7b
		border-bottom 2px solid #fff
		border-right 2px solid #fff
		& tr
			height 16px
			vertical-align middle
		& td
			position relative
			width 16px
			height 16px
			border-top 1px solid #7b7b7b
			border-left 1px solid #7b7b7b
			border-bottom none
			border-right none
			font-size 12px
			padding 3px 0 0 4px
			&:before
				position absolute
				content ''
			&.active
				border-top 2px solid #fff
				border-left 2px solid #fff
				border-bottom 2px solid #7b7b7b
				border-right 2px solid #7b7b7b
				&.mines:before
					display none
				&.mines.caution:before
					display block
			&.bombed
				background red
				&:before
					position absolute
					content ''
					display block
					top 1px
					left 1px
					sprite($bomb)
			&.caution:before
				top 1px
				left 2px
				sprite($flag) !important
	&-start
	&-input
		display none
		
.mines
	&:before
		top 0
		left 0
	&-1:before
		sprite($mines-1)
	&-2:before
		sprite($mines-2)
	&-3:before
		sprite($mines-3)
	&-4:before
		sprite($mines-4)
	&-5:before
		sprite($mines-5)
	&-6:before
		sprite($mines-6)
	&-7:before
		sprite($mines-7)
	&-8:before
		sprite($mines-8)