html
body
	width 100%
	height 100%
	padding 0
	margin 0

.sweeper
	width 100%
	padding 15px
	font-family font-standard
	text-align center
	&-wrapper
		position relative
		display inline-block
		border 1px solid #d6d6d6
		
	&-menu
		position relative
		background #f5f6f7
		width 100%
		height 19px
		border-bottom 1px solid #e8e9ea
		margin-bottom 2px
		font-family font-ui
		font-size 13px
		text-align left
		&__title
			position absolute
			top 0
			left 0
			height 20px
			padding 2px 7px 0
			&:hover
				padding-top 1px
				padding-left 6px
				border 1px solid #7ab1e8
				background #d5e7f8
		&__dropdown
			display none
			position absolute
			top 20px
			left 0
			width 169px
			padding-bottom 3px
			border 1px solid #979797
			background #f0f0f0
			box-shadow 2px 2px 2px 0 #999
			z-index 100
			&:before
				content ''
				position absolute
				top 0
				bottom 0
				left 26px
				width 1px
				background #bbccdc
				z-index 101
		&__item
			position relative
			display block
			height 22px
			margin 3px 2px 0
			&:before
				display none
				content ''
				position absolute
				top -1px
				left 23px
				width 1px
				height 22px
				background #bbccdc
				z-index 102
			& span
				padding-left 32px
			&:hover
				border 1px solid #7ab1e8
				background #d5e7f8
				&:before
					display block
				& span
					padding-left 31px
				& .sweeper-menu__label
					line-height 18px
					&:before
						top -1px !important
						left -1px !important
					&:after
						top 5px !important
						left 5px !important
		&__label
			display block
			height 20px
			line-height 20px
			
	&-settings
		display none
		position absolute
		top 10px
		left 50%
		margin-left -98px
		width 196px
		height 140px
		font-family font-ui
		font-size 12px
		z-index 103
		border 1px solid #d6d6d6
		background #f0f0f0
		padding 33px 0 0 15px
		&__label
			display block
			text-align left
			width 83px
			margin-bottom 4px
			line-height 20px
			clearfix()
		&__input
			width 38px
			height 20px
			line-height 18px
			float right
		&__btn
			position absolute
			right 15px
			width 58px
			height 24px
			line-height 20px
			border 1px solid #acacac
			border-radius 0
			background linear-gradient(to bottom,#efefef,#e5e5e5)
			transition all .3s ease
			cursor default
			&:hover
				border 1px solid #3399ff
				background linear-gradient(to bottom,#ecf4fc,#ddedfc)
			&_ok
				top 34px
			&_cancel
				top 76px
			
			
				
	&-window
		display inline-block
		background #bdbdbd
		margin-left 1px
		padding 6px
		border-top 2px solid #fff
		border-left 2px solid #fff
		border-bottom 2px solid #7b7b7b
		border-right 2px solid #7b7b7b
	&-header
		position relative
		height 37px
		border-top 2px solid #7b7b7b
		border-left 2px solid #7b7b7b
		border-bottom 2px solid #fff
		border-right 2px solid #fff
		margin-bottom 6px
	&-face
		position absolute
		top 5px
		left 50%
		margin-left -12px
		width 24px
		height 24px
		border-top 2px solid #fff
		border-left 2px solid #fff
		border-bottom 2px solid #7b7b7b
		border-right 2px solid #7b7b7b
		box-shadow 1px 1px 0 0 #7b7b7b, -1px -1px 0 0 #7b7b7b
		&:before
			content ''
			display block
			position absolute
			top 2px
			left 2px
			sprite($face-default)
		&_bomb:before
			sprite($face-bomb)
		&_wow:before
			sprite($face-wow)
		&_win:before
			sprite($face-win)
		&_active
			border-top 2px solid #7b7b7b
			border-left 2px solid #7b7b7b
			border-bottom none
			border-right none
			&:before
				top 3px
				left 3px
		
	&-field
		display block
		border-collapse separate
		margin 0
		border-top 2px solid #7b7b7b
		border-left 2px solid #7b7b7b
		border-bottom 2px solid #fff
		border-right 2px solid #fff
		& tr
			height 16px
			vertical-align middle
		& td
			position relative
			width 16px
			height 16px
			border-top 1px solid #7b7b7b
			border-left 1px solid #7b7b7b
			border-bottom none
			border-right none
			font-size 12px
			padding 3px 0 0 4px
			&:before
				position absolute
				content ''
			&.active
				border-top 2px solid #fff
				border-left 2px solid #fff
				border-bottom 2px solid #7b7b7b
				border-right 2px solid #7b7b7b
				&.mines:before
					display none
				&.mines.caution:before
					display block
			&.bombed
				background red
				&:before
					position absolute
					content ''
					display block
					top 1px
					left 1px
					sprite($bomb)
			&.caution:before
				top 1px
				left 2px
				sprite($flag) !important
	&-start
	&-input
		display none
		
.mines
	&:before
		top 0
		left 0
	&-1:before
		sprite($mines-1)
	&-2:before
		sprite($mines-2)
	&-3:before
		sprite($mines-3)
	&-4:before
		sprite($mines-4)
	&-5:before
		sprite($mines-5)
	&-6:before
		sprite($mines-6)
	&-7:before
		sprite($mines-7)
	&-8:before
		sprite($mines-8)
		
input[type='radio']
	&+label
		&:before
		&:after
			display none
	&:checked+label
		&:before
		&:after
			content ''
			position absolute
			display block
		&:before
			top 0
			left 0
			width 20px
			height 20px
			border 1px solid #26a0da
			background #c0ddeb
		&:after
			top 6px
			left 6px
			sprite($check)