.sweeper
	.sweeper-title
		| Сапёр

	.sweeper-window
		.sweeper-header
			.sweeper-digital.sweeper-points
			.sweeper-face.js-face
			.sweeper-digital.sweeper-timer
		table(cellspacing='2').sweeper-field.js-minesweeper

	br
	button.sweeper-start.js-start Старт
	br
	input.sweeper-input.js-rows(value='10')
	br
	input.sweeper-input.js-cols(value='10')
	br
	input.sweeper-input.js-bombs(value='10')